body,html{
  margin:0;
  padding:0;
  text-align:center;
}

 * {
  box-sizing: border-box;
}

body{
  background:url("https://i.pinimg.com/originals/e5/d2/0f/e5d20fffd8e24de8d43cf36339ba8754.jpg" );
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

div h1 {
    font-family:"Dancing Script",sans-serif;
    font-size:50px;
    margin:15px 5px;
    color: rgb(245,130,145);
}

div input{
  padding:6px 30px 6px 6px;
  border:2px solid rgb(245,130,145);
  border-radius:5px;
  margin:10px 0px;
}

div #add{
  font-weight:bold;
  padding:2px 10px;
  background:#fff;
  border:2px solid rgb(245,130,145);
  border-radius:5px;
  cursor: pointer;
}
div #add:active, div #add:focus{
  outline-color:rgb(245,130,145);
  border-radius:5px;
}

div #add:hover{
  color:#fff;
  background-color:rgb(245,130,145);
}

div{
  margin:25px 0px;
 /* background:#333;*/
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.rem {
    font-size:24px;
    background-color: rgba(0,0,0,0);
    color: #D50000;
    font-weight:bold;
    border: none;
    cursor: pointer;
}

#mylist{
  margin:20px auto;
  width:90%;
  color:#000;
  display: flex;
  flex-direction:column;
  justify-content:flex-start;
  text-align:space-between;
  /*border:3px solid blue;*/
  
}

ol {
  list-style-type:none;
  counter-reset:list;
}
ol li:before {
    counter-increment:list;
    content: counters(list, ".") ". ";
}

#mylist > li{
  font-family:"Poiret One",sans-serif;
  font-weight:bold;
  font-size:18px;
  /*border:1px solid black;*/
   background-color:#fff;
   width:90%;
   display: flex;
   flex-wrap:wrap;
   justify-content:space-between;
   align-items:center;
   margin:10px  auto;
   padding:5px 10px;
   margin-left:-5px;
}

@media (min-width:700px){
  #mylist > li{
    max-width:60%;
    margin:10px auto;
  }
}